<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <title>Fuel Quote History</title>
        <link rel="stylesheet" href="css/fuel_history.css">
    </head>
    <head>
        <style>
        table {
          border-collapse: collapse;
          width: 100%;
        }
        
        th, td {
          padding: 15px;
          text-align: left;
          border-bottom: 15x solid #2F3A56;
        }

        tr:hover {background-color: rgba(150, 212, 212, 0.4);}
        </style>
    <body>
        <div class="topnav">
            <a href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
            <a href="/profile"><span class="glyphicon glyphicon-user"></span>Profile</a>
            <a href="/fuelquote"><i class="fa fa-fw fa-envelope"></i>Fuel Quote Form</a>
            <a class="active" href="/fuelhistory"><span class="glyphicon glyphicon-cloud"></span>Fuel Quote History</a>   
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Logout
                    </a></li>
            </ul>
          </div>
        
    <br>
    <br>

    <div id="container">
    <center>
        <h1 class="statBox--featuredText p">Historical Fuel Quote Data</h3>
    </center>
    <div id="main">
    <table class="table mt-5 text-center" id="fuel_history">
        <thead>
          <thead>
          <tr>
            <th><center>Gallons Requested</center></th>
            <th><center>Delivery Address</center></th>
            <th><center>Delivery Date</center></th>
            <th><center>Price per Gallon</center></th>
            <th><center>Total Amount Due</center></th>
          </tr>
        </thead>
        <!-- Dummy Values just for front end -->
        <% for(let i = 0; i < hist.length; i++) {%>
            <tr> 
                <td><%= hist[i].gallons %></td>
                <td><%= hist[i].d_address %></td>
                <td><%= hist[i].d_date%></td>
                <td><%= hist[i].price_per%></td>
                <td><%= hist[i].total%></td>
            </tr>
            <% } %>
        
      </table>
    </div>
    </div>
</body>

<footer class="container-fluid text-center">
    <img class="img-rounded" width="80" height="80" src="imgs/ntc.png"><p> NTC Fuel Solutions </p>
    <p>All Rights Reserved (2022)</p>
</footer>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
crossorigin="anonymous"></script>
</html>